{% extends 'book/main.html' %}
{% load static %}
{% load humanize %}
{% block title %}Nhập sách{% endblock %}

{% block content %}
<style>
  body{
    text-align: center;
  }
  #messages{
    position: absolute;
    text-align: center;
    color:#000000;
    top: 160px;
    background-color: yellow;
    padding: 5px;
    width: 700px;
    height: 30px;
    border-radius: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 15px;
  }

  #id_ten_sach, #id_tac_gia, #id_the_loai, #id_nha_xuat_ban, #id_ngay_nhap, #id_don_gia, #id_nam_xuat_ban, #id_gia_ban, #id_so_luong, #id_mo_ta{
    border-radius: 50px;
    height: 50px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
  }

  #id_ten_sach, #id_tac_gia, #id_mo_ta{
    width: 820px;
  }

  #id_the_loai, #id_nha_xuat_ban, #id_ngay_nhap, #id_don_gia, #id_nam_xuat_ban, #id_gia_ban,  #id_so_luong{
    width: 310px;
  }

  #id_mo_ta{
    border-radius: 0;
    border-color: #000000;
    height: 200px;
  }

  input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer; 
}

  .main_title{
    font-size: 30px;
    font-weight: bold;
  }

  .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  border: 1px solid #0c0707;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(249, 247, 247);
  border-bottom: 1px solid #0e0d0d;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.luu_y{
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  opacity: 70%;
}

.luu_y2{
  color: rgb(44, 43, 43);
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  opacity: 70%;
}

.form-body {
    /* background:white; */
    padding: 5px 10px;
    width: 85%; 
    margin : auto;
}

.row{
    display: flex;
}

.input-group{
    display: flex;
    flex-direction: column; 
    flex: 1;
    margin-top: 15px;
}

.input-label{
    align-self: flex-start;
    margin-left: 22%;
}
</style>
<div><p class="main_title">Nhập sách mới</p></div>
  <br>
  <hr>
<form autocomplete="off" method="POST" enctype="multipart/form-data" class="form-body">
  {% csrf_token %}
  
  <div class="row">
      <div class="input-group">
        <div class="input-label" style="margin-left: 10%;"><strong>Tên sách</strong></div>
        <div>{{form.ten_sach}}</div>
      </div>
  </div>
  
  <div class="row">
    <div class="input-group">
        <div class="input-label" style="margin-left: 10%;"><strong>Tên tác giả</strong></div>
        <div>{{form.tac_gia}}</div>
    </div>
</div>

  <div class="row">
    <div class="input-group">
        <div class="input-label"><strong>Thể loại</strong></div>
        <div>{{form.the_loai}}</div>
    </div> 
    <div class="input-group">
        <div class="input-label"><strong>Nhà xuất bản</strong></div>
        <div>{{form.nha_xuat_ban}}</div>
    </div>
</div>
 
<div class="row">
    <div class="input-group">
        <div class="input-label"><strong>Ngày nhập</strong><span class="luu_y2">(yy-mm-dd | dd/mm/yy)</span></div>
        <div>{{form.ngay_nhap}}</div>
    </div>
         
    <div class="input-group">
        <div class="input-label"><strong>Năm xuất bản</strong></div>
        <div>{{form.nam_xuat_ban}}</div>
    </div>  
</div>
 
<div class="row">
    <div class="input-group">
        <div class="input-label"><strong>Đơn giá</strong></div>
        <div>{{form.don_gia}}</div>      

    </div>
    <div class="input-group">
        <div class="input-label"><strong>Giá bán</strong></div>
        <div>{{form.gia_ban}}</div>
    </div>
</div>

<div class="row">
    <div class="input-group">
        <div class="input-label"><strong>Số lượng</strong><span class="luu_y">(*tối thiểu 150)</span></div>
        <div>{{form.so_luong}}</div>
    </div>
    <div class="input-group">
        <div class="input-label"><strong>Ảnh sách</strong></div>
        <div>{{form.anh_sach}}</div>
    </div>
</div>

  <div class="mt_title input-title"><strong>Mô tả</strong></div>
  {{form.mo_ta}}
  <br>
  
  <div class="submit">
    <input class="btn" type="submit" value="Lưu">
  </div>

  
  {% for message in messages %}
    <p id="messages">{{message}}</p>
  {% endfor %}
</form>

<script>
  function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function (e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false; }
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function (e) {
            /*insert the value for the autocomplete text field:*/
            inp.value = this.getElementsByTagName("input")[0].value;
            /*close the list of autocompleted values,
            (or any other open lists of autocompleted values:*/
            closeAllLists();
          });
          a.appendChild(b);
        }
      }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function (e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
      closeAllLists(e.target);
    });
  }

  /*An array containing all the country names in the world:*/
  var Tensach = [{% for s in sach %}'{{s.ten_sach}}', {% endfor %}]
  /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
  autocomplete(document.getElementById("id_ten_sach"), Tensach);
  var input = document.getElementById('id_ten_sach');
  var onChange = function (evt) {
    var ten = this.value;
    {% for s in sach %}
    var temp = '{{s.ten_sach}}'
    if (temp == ten) {
      document.getElementById('id_ngay_nhap').value = '{{s.ngay_nhap.day}}/{{s.ngay_nhap.month}}/{{s.ngay_nhap.year}}'
      document.getElementById('id_the_loai').value = '{{s.the_loai}}'
      document.getElementById('id_tac_gia').value = '{{s.tac_gia}}'
      document.getElementById('id_don_gia').value = '{{s.don_gia}}'
      document.getElementById('id_gia_ban').value = '{{s.gia_ban}}'
      document.getElementById('id_nha_xuat_ban').value = '{{s.nha_xuat_ban}}'
      document.getElementById('id_nam_xuat_ban').value = '{{s.nam_xuat_ban}}'
      document.getElementById('id_mo_ta').value = '{{s.mo_ta}}'
      console.log('{{s.anh_sach}}')
    }
    {% endfor %}

  };
  input.addEventListener('mousemove', onChange, false);


</script>

{% endblock %}
